#translatebao {
  position: fixed;
  padding: 10px;
  top: 100px;
  right: 100px;
  z-index: 10000;
  background: #000;
  color: #fff;
  border-radius: 4px;
  display: none;
}
#translatebao li {
  list-style-type: none;
}