body {
  min-width: 400px;
  max-width: 400px;
  margin: 0;
  padding: 0;
  background: url(/assets/images/popup-background.png);
  -webkit-user-select: none;
}
#popup_container {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: hidden;
}
#popup_container #from, #popup_container #to {
  float: left;
  width: 170px;
  height: 180px;
  border: 1px solid #ccc;
  resize: none;
  border-radius: 4px;
  outline: none;
}
#popup_container #transform {
  display: inline-block;
  float: left;
  width: 28px;
  height: 180px;
  line-height: 180px;
  text-align: center;
}
#popup_container #transform i {
  font-size: 24px;
  color: #555555;
}
#popup_container #transform i:hover {
  color: #333333;
  cursor: pointer;
}
#popup_container #transform i:active {
  color: #999999;
  cursor: pointer;
}
#footer_bar {
  width: 100%;
  padding: 0 10px 10px;
}
#footer_bar select {
  width: 100px;
}
#footer_bar span {
  display: inline-block;
  width: 260px;
  text-align: right;
  font-size: 12px;
}
#footer_bar span a {
  text-decoration: none;
  -webkit-transition: all .5s;
  color: #999999;
}
#footer_bar span a:hover {
  color: #0093D9;
}